.sign-in-and-sign-up {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 3vh;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);
margin: 5vh 50vh;
}
